{% extends 'base.html' %}

{% block content %}
    <main>
        <!--Up Next Event-->
        <div class="banner py-3">
            <div class="banner-content container-xxl">
                <div class="row">
                    <div class="banner-information col-auto">
                        <h2>About Us</h2>
                    </div>
                    <div class="col d-none d-sm-block">
                        <a href="event-page.html"><img src="{{ url_for('static', filename='image/Studio_Ghibli_Logo.jpg') }}" class="shadow float-end hover-scale square-image banner-image" alt="..."></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="container-xxl">
        <div class="row">
            <h2>Who is KeyMajor</h2>
        </div>
        <div class="card-text">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col my-2 my-sm-0">
                            <a href="events-browser.html"><img class="shadow w-100 hover-scale category-image" src="{{ url_for('static', filename='image/Frame.png') }}" alt="Calm"></a>
                        </div>
                        <div class="col my-2 my-sm-0">
                            <a href="events-browser.html"><img class="shadow w-100 hover-scale category-image" src="{{ url_for('static', filename='image/Frame 1.png') }}" alt="Anime"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col my-2 my-sm-0">
                            <a href="events-browser.html"><img class="shadow w-100 hover-scale category-image" src="{{ url_for('static', filename='image/Frame 2.png') }}" alt="Pop"></a>
                        </div>
                        <div class="col my-2 my-sm-0">
                            <a href="events-browser.html"><img class="shadow w-100 hover-scale category-image" src="{{ url_for('static', filename='image/Frame 3.png') }}" alt="Classical"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl my-2">
        <div class="row">
            <div class="col-lg-">
                <h2>Upcoming Performances</h3>
                <!-- Events Cards-->
                {% for event in events %}
                <div class="row">
                    <div class="col-sm col-md-12">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-3">
                                    <img class="shadow w-100 category-image" src="{{ event.image }}"></img>
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ event.name }}<span class="badge badge-closed ms-md-1">{{ event.tags }}</span></h5>
                                        <p class="card-text">{{ event.description }}</p>
                                        <a href="/events/{{event.id}}" class="btn btn-primary">View Event</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}