{% extends 'base.html' %}

{% block content %}
        <div class="container-xxl">
            <h2>Event Bookings</h2>
            {% for event in events %}
            <div class="card" style="width: 18rem;">
                <img src="{{ event.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Order Date & Time: <span>10/08/2023 @ 10:10am</span></li>
                            <li class="list-group-item">Order Number: <span>123123213213213</span></li>
                        </ul>
                    <div class="card-body">
                        <a href="event-page.html" class="card-link">View Event</a>
                        <a href="#" class="card-link">Share</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <!-- insert content here -->
    </main>
</body>

{% endblock %}